services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: Glosso
      POSTGRES_PASSWORD: Glosso
      POSTGRES_DB: Glosso
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
